
body {
  background-color: #8CC739;
}
.nav-bar {
  background-color: #31C3E7	;
  list-style-type: none;
  position: fixed;
  width:100%;
  top: 0;
  left:0;

  margin: 0;
  padding: 9px;
  margin-bottom: 10px;
  padding-left: 40%;
}

.nav-constant {
  display: inline;
  color: white;
  padding: 9px 16px;
  text-align: center;
}


.nav-text:hover {
  color: red;
}

.active {
  color: magenta;
}

.content {
  color: black;
  margin-top: 50px;
  text-decoration: none;
}
