
html {
  background: linear-gradient(
    to left,
    rgb(194, 229, 156),
    rgb(100, 179, 244)
    );

}
.nav-bar {
  background-color: white	;
  list-style-type: none;
  position: fixed;
  height:30px
  width:100%;
  top: 0;
  left:0;
  margin-bottom: 10px;
  margin-top: 0;
  padding: 9px 40% 9px 40%;
  text-decoration: none;
}

.nav-constant {
  display: inline;
  color: white;
  padding: 9px 16px;
  text-align: center;

}

.nav-text {
  font-family: cursive;
  text-decoration: none;
  font-size: 30px
}

.nav-text:hover {
  color: red;
}

.active {
  color: magenta;
}

.content {
  color: black;
  margin-top: 80px;
  text-decoration: none;
  font-size:30px;
}


.container-about-text {
  position: absolute;
  left:50%;
  right: 10%;
  text-align: justify;
}

.profile-pic {
  height: 300px;
  width: 300px;
  border-radius: 50%;
  position: absolute;
  left: 10%;
}
