
.nav-bar {
  list-style-type: none;
  margin: 0;
  padding: 9px;
  background-color: #333;
}

.nav-constant {
  display: inline;
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  text-align: center;
}

.nav-constant:hover {
  background-color: #555;
  color: white;
}
.nav-text {
  color: white;
}

.active {
  background-color: #4CAF50;
  color: white;
}
